<div id="basic-div" fxLayout="row wrap" 
fxLayout.lt-lg="column" 
fxLayoutGap="60px" 
fxLayoutAlign="flex-start"> 

  <mat-card fxFlex="0 1 calc(33.3% - 32px)"
  fxFlex.lt-md="0 1 calc(50% - 32px)"
  fxFlex.lt-sm="100%"> 

  <p>basic works !</p>

 
<app-lists></app-lists> 

  <app-forecast></app-forecast>
  
  <app-about-my-trip></app-about-my-trip>

    <!-- <mat-expansion-panel id="aboutMeExpansionPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          About me
        </mat-panel-title>
      </mat-expansion-panel-header> -->
<!-- +++++++++++++++ App-user ++++++++++++++++++++++++++ -->
      <!-- <app-user></app-user> -->
<!-- +++++++++++++++ App-user ++++++++++++++++++++++++++ -->
    <!-- </mat-expansion-panel> -->
    
    
    <!-- <mat-expansion-panel id="myTripExpansionPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          About my Trip
        </mat-panel-title>
      </mat-expansion-panel-header> -->
<!-- +++++++++++++++++ App-aboutMyTrip +++++++++++++++++++-->
      <!-- <app-about-my-trip></app-about-my-trip> -->
<!-- +++++++++++++++++ App-aboutMyTrip +++++++++++++++++++-->
    <!-- </mat-expansion-panel> -->
    
    
    <!-- <mat-expansion-panel id="weatherExpansionPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Weather
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-tab-group>
        <mat-tab label="Current weather"> -->
<!-- ++++++++++++++++++++++ App-weather ++++++++++++++++++++++++++ -->
          <!-- <app-weather></app-weather> -->
<!-- ++++++++++++++++++++++ App-weather ++++++++++++++++++++++++++ -->
        <!-- </mat-tab>
        <mat-tab label="forecast 7 days"> <app-weather-forecast></app-weather-forecast></mat-tab>
        <mat-tab label="Last years weather"> Content 3 </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel> -->

  </mat-card>


  <!-- <mat-card 
  fxFlex="0 1 calc(33.3% - 32px)"
  fxFlex.lt-md="0 1 calc(50% - 32px)"
  fxFlex.lt-sm="100%">  
    <app-lists></app-lists> 
  </mat-card> -->

</div>