<button type="button" mat-button (click)="drawer.toggle()"> > </button>
<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="flex-start">
  <mat-drawer-container class="example-container" fxFlex="1 0 auto">


    <mat-drawer #drawer class="example-sidenav" mode="side">

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Weather
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-tab-group>
            <mat-tab label="Current weather">
              <app-weather></app-weather>
            </mat-tab>
            <mat-tab label="Forcast 7 days"> Content 2 </mat-tab>
            <mat-tab label="Last years weather"> Content 3 </mat-tab>
          </mat-tab-group>

        </mat-expansion-panel>
      </mat-accordion>



    </mat-drawer>

    <div class="example-sidenav-content">




      <app-test fxFlex="1 0 auto"></app-test>
      <app-test fxFlex="1 0 auto"></app-test>
      <app-test fxFlex="1 0 auto"></app-test>
      <app-test fxFlex="1 0 auto"></app-test>
      <app-test fxFlex="1 0 auto"></app-test>
      <app-test fxFlex="1 0 auto"></app-test>
      <app-test fxFlex="1 0 auto"></app-test>
    </div>

  </mat-drawer-container>

</div>