<!-- <div fxLayout="column" fxLayoutAlign="space-evenly center"> -->
    <h2>Weather forecast</h2>
    <div fxLayout="row" fxLayoutAlign="center center" >
        <mat-form-field class="example-form-field">
            <mat-label>City </mat-label>
            <input matInput type="text" [(ngModel)]="city">
        </mat-form-field>
        <button mat-raised-button (click)="onFetchforecastByCityName()">
            <mat-icon>search</mat-icon>
        </button> 
    </div>

    <br/>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <!-- <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%"
            *ngFor="let f of forecast "> -->
        <mat-card *ngFor="let f of forecast ">
            <mat-card-title >
                <div id="weather-icon">
                    <img src={{f.icon}} style="float:center;width:45px;height:45px;">
                </div>
            </mat-card-title>
            <mat-card-content>
                {{f.date | date:'fullDate'}}
                <br />
            </mat-card-content>
            <mat-card-content>
                Temperature : {{f.temp}} °C
                <br />
            </mat-card-content>
            <mat-card-content>
                Feels like : {{f.feels_like}} °C
                <br />
            </mat-card-content>
        </mat-card>
    </div>
<!-- </div> -->