.sider{
    background-color: #1c2434;
    color: 	 	#b3cde0   ;
    width: 5%;
    height: 100%;
    float: left;
}

.header{
    top: auto;
    background-color: #1c2434;
    color: 	 	#b3cde0   ;
}

.footer{
    background-color: #1c2434;
    color: 	 	#b3cde0   ;
}

.basic{
    background-color: #1c2434;
    color: 	 	#b3cde0   ;
    height: 100%;
}