<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/tripping-welcome">Home</a>
      <a mat-list-item href="/tripping-list">Lists</a>
      <a mat-list-item href="/tripping-trip">My trip</a>

      <a mat-list-item href="/tripping-to-do">To Do List</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <mat-toolbar id="toolbar">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" >
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div style="color: aliceblue;">
          <span><mat-slide-toggle (change)="onDarkModeSwitched($event)"><mat-icon>brightness_medium</mat-icon></mat-slide-toggle></span>
        </div>
        <h1  style="font-size:40px; color: aliceblue; font-family: cursive;" >Tripping</h1>
        <ul fxLayout="row" fxLayoutGap="10px" >
          <div >
            <button mat-raised-button color="primary" [routerLink]="['/tripping-login']" >Login</button>
          </div>
          <div>
            <button mat-raised-button color="primary" [routerLink]="['tripping-register']">Register</button>
          </div>
          </ul>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <app-lists></app-lists> 
    <app-forecast></app-forecast>
    <app-about-my-trip></app-about-my-trip> -->
    <!-- <app-table-test></app-table-test> -->
    <!-- <app-dashbord-test></app-dashbord-test> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
