.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 180px;
  // background: rgb(179,205,224);
  // background: radial-gradient(circle, rgba(179,205,224,1) 0%, rgba(0,91,150,1) 53%, rgba(1,31,75,1) 100%);
}

.sidenav .mat-toolbar {
  background: inherit;
  text-align: center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#toolbar{
  
  height: 87px;
  background: rgb(1,31,75) ;
  background: linear-gradient(90deg, rgba(1,31,75,1) 0%, rgba(0,91,150,1) 50%, rgba(179,205,224,1) 100%);

}



