<p>extra-trip-info works!</p>
<!-- <link rel="stylesheet" href="D:/Project_Tripping_LeBon/WS_VisualStudioCode_Trip/angular_Trip/my-trip-test/src/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="D:/Project_Tripping_LeBon/WS_VisualStudioCode_Trip/angular_Trip/my-trip-test/src/css/styles.css"> -->
Travel reason:
<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Buisness</mat-radio-button>
    <mat-radio-button value="2">Pleasure</mat-radio-button>
</mat-radio-group>
<br/> 
<br/> 
Do some of these options qualify to your trip ? 
<br/> 
<br/> 
<div class="container-fluid">
    <div class="row c1">
        <div class="col-md-4 c2 wb">
            <mat-checkbox >skiing</mat-checkbox> 
            <mat-checkbox >Beach trip</mat-checkbox>
        </div>
        <div class="col-md-8 c3 wb"><mat-checkbox >swimming</mat-checkbox></div>
        <mat-checkbox >Mountain trip</mat-checkbox>
                
            
            <mat-checkbox >Safari</mat-checkbox>
            
            <mat-checkbox >Jungle</mat-checkbox>

    </div>

</div>
<mat-radio-group aria-label="Select an option">
   
    <mat-radio-button value="5">Parties</mat-radio-button><br/>
   
</mat-radio-group>