<p>extra-trip-info works!</p>
Travel reason:
<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Buisness</mat-radio-button>
    <mat-radio-button value="2">Pleasure</mat-radio-button>
</mat-radio-group>
<br/> 
<br/> 
Do some of these options qualify to your trip ? 
<br/> 
<br/> 
<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">skiing</mat-radio-button><br/>
    <mat-radio-button value="2">swimming</mat-radio-button><br/>
    <mat-radio-button value="3">Mountain trip</mat-radio-button><br/>
    <mat-radio-button value="4">Safari</mat-radio-button><br/>
    <mat-radio-button value="5">Parties</mat-radio-button><br/>
    <mat-radio-button value="6">Beach trip</mat-radio-button><br/>
    <mat-radio-button value="7">Jungle</mat-radio-button><br/>
</mat-radio-group>