
  <mat-card>
    <mat-card-header>
      <mat-card-title>Current weather in {{cityName}}</mat-card-title>
      <mat-card-subtitle>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">°C </mat-radio-button> 
          <mat-radio-button value="2">°F</mat-radio-button>
        </mat-radio-group>  
      </mat-card-subtitle>
      
    </mat-card-header>
    <mat-card-content>
    
      <div>
        <mat-card-actions>
          <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>City</mat-label>
              <input matInput  [(ngModel)]="cityName"/> 
            </mat-form-field>
            <button mat-button (click)= "onGetCurrentWeather()">SEARCH</button>
            </div>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>


